.states {
    fill: #aaa;
    stroke: #fff;
    stroke-width: 0.75px;
}

#container {
    margin: 2%;
    padding: 20px;
    border: 2px solid #d0d0d0;
    border-radius: 5px;
}

.points {
    fill: red;
}